html {
  font-size: 1vw;
}
body {
background-color: #FBFBFB;
font-family: 'Muli', sans-serif;
display: flex;
min-height: 100vh;
flex-direction: column;
}

main {
  flex: 1 0 auto;
}

#hero{
  background-color: #64D5F6;
}

.nav-wrapper{
  background-color: #64D5F6;
}

.page-footer{
  background-color: #64D5F6;
}
/*Color Rules*/
.purpBtn{
  background-color: #B08DF1 !important;
  color: white;
  width: 350px;
  font-weight:600;
  height: 45px;
  line-height: 45px;
  font-size:30px;
}

.nextBtn{
  background-color: #67E2B3;
}

.whiteTxt{
  color:white;
}

/*Font sizes*/
h1{
  font-size: 5.5em;
}
p{
  font-size: 1.875em;
}
.psmall{
  font-size: 1.3em;
}
/*Alignment*/
.tac{
text-align:center;
}

/*padding*/
.pt50{
  padding-top: 50px;
}
