html {
  font-size: 1vw;
}
body {
background-color: #FBFBFB;
font-family: 'Muli', sans-serif;
display: flex;
min-height: 100vh;
flex-direction: column;
color: #1E3F61;
}

main {
  flex: 1 0 auto;
}

#hero{
  background-color: #64D5F6;
}

.nav-wrapper{
  background-color: #64D5F6;
}

.page-footer{
  background-color: #64D5F6;
}
/*Color Rules*/
.purpBtn{
  background-color: #B08DF1 !important;
  color: white;
  width: 350px;
  font-weight:600;
  height: 45px;
  line-height: 45px;
  font-size:30px;
}

.whiteTxt{
  color:white;
}

.btn{
  background-color:#B988F8;
}
.btn:hover{
  background-color:#aa7fe2;
}

.nextBtn{
  background-color: #67E2B3;
}
.nextBtn:hover{
  background-color: #5ecaa1;
}
.lBut{
  background-color: #67E2B3;
  text-decoration: none;
    color: #fff;
    text-align: center;
    letter-spacing: .5px;
    -webkit-transition: .2s ease-out;
    transition: .2s ease-out;
    cursor: pointer;
    font-size: 1rem;
    outline: 0;
    border: none;
    border-radius: 2px;
    display: inline-block;
    height: 36px;
    line-height: 36px;
    padding: 0 2rem;
    text-transform: uppercase;
    vertical-align: middle;
    -webkit-tap-highlight-color: transparent;
}
.lBut:hover{
  background-color: #5ecaa1;
  color: white;
  text-decoration: none;
}
.complete{
  background-color: white;
    border: solid 2px #67E2B3;
    text-decoration: none;
    color: #67E2B3;
    text-align: center;
    border: 1 #67E2B3;
    letter-spacing: .5px;
    -webkit-transition: .2s ease-out;
    transition: .2s ease-out;
    cursor: pointer;
    font-size: 1rem;
    outline: 0;
    /* border: none; */
    border-radius: 2px;
    display: inline-block;
    height: 36px;
    line-height: 36px;
    padding: 0 2rem;
    text-transform: uppercase;
    vertical-align: middle;
    -webkit-tap-highlight-color: transparent;
}
.complete:hover{
  border: solid 2px #5ecaa1;
  color: #67E2B3;
  text-decoration: none;
}
/*Font sizes*/
h1{
  font-size: 5.5em;
}

h3{
  font-size: 2.5em;
}
p{
  font-size: 1.875em;
}
.psmall{
  font-size: 1.3em;
}
/*Alignment*/
.tac{
text-align:center;
}
.tal{
text-align:left !important;
}
.fr{
  float:right;
}

/*padding*/
.pt50{
  padding-top: 50px;
}
.mw500{
  max-width:500px;
}
/*toggles*/
fieldset {
    border: 0;
    margin: 0px;
    padding: 0em;
  }

  label {
      font-size: 1.5rem;
      color: #1E3F61;
  }

  .well {
    text-align: center;
      min-height: 200px;
      padding: 19px;
      margin-bottom: 20px;
      background-color: #FFFFFF;
      border: 3px solid #67E2B3;
      border-radius: 4px;
     -webkit-box-shadow: 0 0 9px rgba(0, 0, 0, 0.3);
     box-shadow: 0 0 9px rgba(0, 0, 0, 0.3);
     min-height: 222px;
    }
    .headWell {
      text-align: center;
        min-height: 500px;
        padding: 19px;
        margin-bottom: 20px;
        background-color: #FFFFFF;
        border: 0;
        border-radius: 4px;
       -webkit-box-shadow:0 0 12px rgba(0, 0, 0, 0.5);
       box-shadow: 0 0 12px rgba(0, 0, 0, 0.5);
      }
      .sHeadWell {
        text-align: center;
          min-height: 300px;
          padding: 19px;
          margin-bottom: 20px;
          background-color: #FFFFFF;
          border: 0;
          border-radius: 4px;
         -webkit-box-shadow:0 0 12px rgba(0, 0, 0, 0.5);
         box-shadow: 0 0 12px rgba(0, 0, 0, 0.5);
        }
.skin{
  background-image: url("../imgs/skin.png");
}
.heart{
  background-image: url("../imgs/heart.png");
}
.iconImg{
  min-height:300px;
  background-image: url("../imgs/icons.png");
}
#frontImg{
  width: 100%;
height: auto;
bottom: 0;
}
