<!doctype html>
<html>
<head>
  <title>HealthAid</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
  <link rel="stylesheet" href="../style/style.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
  <link href="https://fonts.googleapis.com/css?family=Muli:300,400,600,700,800" rel="stylesheet">
</head>
<body id="hero">
  <div class="container tac">
    <div class="row">
      <div class="col s12">
      <h1 class="whiteTxt">HealthAid</h1>
    </div><!--col-->
    </div><!--row-->
      <div class="row">
      <div class="col s12">
              <a href="/login" class="purpBtn btn">Login</a>
      </div><!--col-->
    </div><!--row-->
    <div class="row">
      <div class="col s12">
      <a href="/signup" class="btn purpBtn">Signup</a>
    </div><!--col-->
  </div><!--row-->
</div><!--container-->
  <div>
    <img id="frontImg" src="../imgs/icons.png">
    </div
</body>
</html>


<!-- //source: https://scotch.io/tutorials/easy-node-authentication-setup-and-local -->
