    <!-- PHI FORM -->
    <form action="/phi" method="post">
        <div class="form-group">
            <label>height</label>
            <input type="text" class="form-control" name="height">
        </div>
        <div class="form-group">
            <label>weight</label>
            <input type="text" class="form-control" name="weight">
        </div>
        <div class="form-group">
            <label>bp</label>
            <input type="text" class="form-control" name="bp">
        </div>
        <div class="form-group">
            <label>hr</label>
            <input type="text" class="form-control" name="hr">
        </div>
        <div class="form-group">
            <label>pap</label>
            <input type="text" class="form-control" name="pap">
        </div>
        <div class="form-group">
            <label>skin</label>
            <input type="text" class="form-control" name="skin">
        </div>

        <button type="submit" class="btn btn-warning btn-lg">Submit</button>
    </form>

<!-- //source: https://scotch.io/tutorials/easy-node-authentication-setup-and-local -->    
