<!doctype html>
<html>
<head>
<title> HealthAid </title>
<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
<link rel='stylesheet prefetch' href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css'>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
<link rel="stylesheet" href="../style/style.css">
<link href="https://fonts.googleapis.com/css?family=Muli:300,400,600,700,800" rel="stylesheet">
<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
<script type="text/javascript" src="js/eip.min.js"></script>
<script type="text/javascript" src="js/editable.js"></script>
</head>
<body>
  <div class="sHeadWell tal skin">
  <h1>Step 5</h1>
</div>
<div class="container">
  <div class="col s8">
      <div class="well tal">
        <p>Sure you’re tired by now. Take a seat and prop up your foot on another chair.</p>
        <p>Examine:</p>
        <ul>
        <li>genitals</li>
        <li>ankles</li>
        <li>tops and undersides of feet</li>
        <li>between your toes.</li>
      </ul>
      <img class="mw500" src="../imgs/chair.png">
      <div class="row">
            <a class="lBut" href="skin7">Next</a>
      </div>
      </div>
  </div><!--col-->
  </div><!--container-->
</body>
</html>
