<!doctype html>
<html>
<head>
  <title> HealthAid </title>
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
  <link rel='stylesheet prefetch' href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css'>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
  <link rel="stylesheet" href="../style/style.css">
  <link href="https://fonts.googleapis.com/css?family=Muli:300,400,600,700,800" rel="stylesheet">
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
  <script type="text/javascript" src="js/eip.min.js"></script>
  <script type="text/javascript" src="js/editable.js"></script>
</head>
<body>
  <div class="headWell tal skin">
    <div class="row">
      <div class="col s5">
        <h1>Skin</h1>
        <h1>1 Abnormality<h1>
          <h4>Last Recorded: X days ago</h4>
        </div>
        <div class="col s7">
          <img class="fr" src="../imgs/skin-face.png">
        </div>
      </div><!--row-->
    </div>
    <div class="container">
      <div class="col s8">
        <div class="well tal">
          <h5>Whats Going On</h5>
            <p>There are many factors that make you more susceptible to skin cancer. For some it’s genetic and for others its caused by environmental factors like sunlight.</p>
            <p>Getting a full body exam yearly can help your physician keep track of moles and freckles that might be changing shape or growing.</p>
          </div>
          <div class="well tal">
            <h5>Self-Check</h5>
            <hr>
            <p>Skin self-exams aid in early detection of skin cancers. They should be performed once a month, in addition to an annual full-body skin exam by your physician.</p>
            <p>There are two types:</p>
            <p>Basal cell carcinoma</p>
            <ul>
              <li>A spot, sore, shiny bump or nodule, scaly lesion, or wart-like growth that continues to itch, hurt, crust, scab, erode, ooze, or bleed</li>
              <li>Open sore or wound that does not heal within 2-3 weeks</li>
              <li>White, yellow, or waxy scar-like area, reddish patch or irritated area.</li>
            </ul>
            <p>Melanoma Moles</p>
            <ul>
              <li>The mole is asymmetrical</li>
              <li>Irregular in outline or border</li>
              <li>Changes color or appears pearly, translucent, tan, brown, black, or multicolored</li>
              <li>Bigger than 6mm in diameter (size of a pencil eraser)</li>
              <li>Evolves or changes in any way</li>
              <li>Appears after age 21.</li>
            </ul>
            <a class="lBut" href="skin2">Perform self check</a>
          </div>
        </div>
      </div><!--container-->
    </body>
    </html>
